.page {
	height: 100vh;
	overflow: hidden;
}

.page-content {
	background-image: url("./assets/bg.svg");
	background-repeat: repeat;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 2px solid rgba(194, 194, 194, 0.2);
	// filter: blur(5px);
}