body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, #root {
	height: 100%;
	width: 100%;
	// background: linear-gradient(336.09deg, #321632 -20.55%, #09071C 141.18%);
	background-color: #EEEEEE;
}

#root {
	background-repeat: repeat;
}

:root {
	/* TODO: выпелить ненужное */
	--canvas: #f5f5f5;
	--accent-background: #3c92dc;
	--retool-primary-a0: #3c92dc00;
	--retool-primary-a10: #3c92dc1a;
	--retool-primary-a20: #3c92dc33;
	--retool-primary-a30: #3c92dc4d;
	--retool-primary-a40: #3c92dc66;
	--retool-primary-a50: #3c92dc80;
	--retool-primary-a60: #3c92dc99;
	--retool-primary-a70: #3c92dcb3;
	--retool-primary-a80: #3c92dccc;
	--retool-primary-a90: #3c92dce6;
	--retool-primary-10: #f5fafdff;
	--retool-primary-50: #d8e9f8ff;
	--retool-primary-100: #b1d3f1ff;
	--retool-primary-200: #94c3ecff;
	--retool-primary-300: #77b3e7ff;
	--retool-primary-400: #59a2e1ff;
	--retool-primary-500: #3c92dcff;
	--retool-primary-600: #3282ceff;
	--retool-primary-700: #266ebdff;
	--retool-primary-800: #1c5eafff;
	--retool-primary-900: #124ea1ff;
	--retool-secondary-a0: #00000000;
	--retool-secondary-a10: #0000001a;
	--retool-secondary-a20: #00000033;
	--retool-secondary-a30: #0000004d;
	--retool-secondary-a40: #00000066;
	--retool-secondary-a50: #00000080;
	--retool-secondary-a60: #00000099;
	--retool-secondary-a70: #000000b3;
	--retool-secondary-a80: #000000cc;
	--retool-secondary-a90: #000000e6;
	--retool-secondary-10: #f2f2f2ff;
	--retool-secondary-50: #ccccccff;
	--retool-secondary-100: #999999ff;
	--retool-secondary-200: #737373ff;
	--retool-secondary-300: #4d4d4dff;
	--retool-secondary-400: #262626ff;
	--retool-secondary-500: #000000ff;
	--retool-secondary-600: #000000ff;
	--retool-secondary-700: #000000ff;
	--retool-secondary-800: #000000ff;
	--retool-secondary-900: #000000ff;
	--retool-tertiary-a0: #00000000;
	--retool-tertiary-a10: #0000001a;
	--retool-tertiary-a20: #00000033;
	--retool-tertiary-a30: #0000004d;
	--retool-tertiary-a40: #00000066;
	--retool-tertiary-a50: #00000080;
	--retool-tertiary-a60: #00000099;
	--retool-tertiary-a70: #000000b3;
	--retool-tertiary-a80: #000000cc;
	--retool-tertiary-a90: #000000e6;
	--retool-tertiary-10: #f2f2f2ff;
	--retool-tertiary-50: #ccccccff;
	--retool-tertiary-100: #999999ff;
	--retool-tertiary-200: #737373ff;
	--retool-tertiary-300: #4d4d4dff;
	--retool-tertiary-400: #262626ff;
	--retool-tertiary-500: #000000ff;
	--retool-tertiary-600: #000000ff;
	--retool-tertiary-700: #000000ff;
	--retool-tertiary-800: #000000ff;
	--retool-tertiary-900: #000000ff;
	--retool-danger: hsl(4, 57%, 52%);
	--retool-danger-a0: #ca483f00;
	--retool-danger-a10: #ca483f1a;
	--retool-danger-a20: #ca483f33;
	--retool-danger-a30: #ca483f4d;
	--retool-danger-a40: #ca483f66;
	--retool-danger-a50: #ca483f80;
	--retool-danger-a60: #ca483f99;
	--retool-danger-a70: #ca483fb3;
	--retool-danger-a80: #ca483fcc;
	--retool-danger-a90: #ca483fe6;
	--retool-danger-10: #fcf6f5ff;
	--retool-danger-50: #f4dad9ff;
	--retool-danger-100: #eab6b2ff;
	--retool-danger-200: #e29a95ff;
	--retool-danger-300: #da7f79ff;
	--retool-danger-400: #d2635cff;
	--retool-danger-500: #ca483fff;
	--retool-danger-600: #bb3d35ff;
	--retool-danger-700: #a92f28ff;
	--retool-danger-800: #9a241eff;
	--retool-danger-900: #8b1814ff;
	--retool-warning: hsl(29, 71%, 48%);
	--retool-warning-a0: #d1782300;
	--retool-warning-a10: #d178231a;
	--retool-warning-a20: #d1782333;
	--retool-warning-a30: #d178234d;
	--retool-warning-a40: #d1782366;
	--retool-warning-a50: #d1782380;
	--retool-warning-a60: #d1782399;
	--retool-warning-a70: #d17823b3;
	--retool-warning-a80: #d17823cc;
	--retool-warning-a90: #d17823e6;
	--retool-warning-10: #fdf8f4ff;
	--retool-warning-50: #f6e4d3ff;
	--retool-warning-100: #edc9a7ff;
	--retool-warning-200: #e6b586ff;
	--retool-warning-300: #dfa165ff;
	--retool-warning-400: #d88c44ff;
	--retool-warning-500: #d17823ff;
	--retool-warning-600: #c3691dff;
	--retool-warning-700: #b15615ff;
	--retool-warning-800: #a2470eff;
	--retool-warning-900: #943808ff;
	--info-primary: hsl(208, 70%, 55%);
	--retool-info-a0: #3c92dd00;
	--retool-info-a10: #3c92dd1a;
	--retool-info-a20: #3c92dd33;
	--retool-info-a30: #3c92dd4d;
	--retool-info-a40: #3c92dd66;
	--retool-info-a50: #3c92dd80;
	--retool-info-a60: #3c92dd99;
	--retool-info-a70: #3c92ddb3;
	--retool-info-a80: #3c92ddcc;
	--retool-info-a90: #3c92dde6;
	--retool-info-10: #f5fafdff;
	--retool-info-50: #d8e9f8ff;
	--retool-info-100: #b1d3f1ff;
	--retool-info-200: #94c3ecff;
	--retool-info-300: #77b3e7ff;
	--retool-info-400: #59a2e2ff;
	--retool-info-500: #3c92ddff;
	--retool-info-600: #3282cfff;
	--retool-info-700: #266ebeff;
	--retool-info-800: #1c5eb1ff;
	--retool-info-900: #124ea3ff;
	--retool-success: hsl(147, 77%, 30%);
	--retool-success-a0: #12874700;
	--retool-success-a10: #1287471a;
	--retool-success-a20: #12874733;
	--retool-success-a30: #1287474d;
	--retool-success-a40: #12874766;
	--retool-success-a50: #12874780;
	--retool-success-a60: #12874799;
	--retool-success-a70: #128747b3;
	--retool-success-a80: #128747cc;
	--retool-success-a90: #128747e6;
	--retool-success-10: #f3f9f6ff;
	--retool-success-50: #d0e7daff;
	--retool-success-100: #a0cfb5ff;
	--retool-success-200: #7dbd9aff;
	--retool-success-300: #59ab7eff;
	--retool-success-400: #369963ff;
	--retool-success-500: #128747ff;
	--retool-success-600: #0f773cff;
	--retool-success-700: #0a642eff;
	--retool-success-800: #075423ff;
	--retool-success-900: #044517ff;
	--retool-highlight: #f6e5c4;
	--retool-highlight-a0: #f6e5c400;
	--retool-highlight-a10: #f6e5c41a;
	--retool-highlight-a20: #f6e5c433;
	--retool-highlight-a30: #f6e5c44d;
	--retool-highlight-a40: #f6e5c466;
	--retool-highlight-a50: #f6e5c480;
	--retool-highlight-a60: #f6e5c499;
	--retool-highlight-a70: #f6e5c4b3;
	--retool-highlight-a80: #f6e5c4cc;
	--retool-highlight-a90: #f6e5c4e6;
	--retool-highlight-10: #fffefcff;
	--retool-highlight-50: #fdfaf3ff;
	--retool-highlight-100: #fbf5e7ff;
	--retool-highlight-200: #faf1dfff;
	--retool-highlight-300: #f9edd6ff;
	--retool-highlight-400: #f7e9cdff;
	--retool-highlight-500: #f6e5c4ff;
	--retool-highlight-600: #ebd8b5ff;
	--retool-highlight-700: #ddc8a2ff;
	--retool-highlight-800: #d2bb93ff;
	--retool-highlight-900: #c6ae83ff;
	--primary-text: #262626ff;
	--retool-text-dark-a0: #26262600;
	--retool-text-dark-a10: #2626261a;
	--retool-text-dark-a20: #26262633;
	--retool-text-dark-a30: #2626264d;
	--retool-text-dark-a40: #26262666;
	--retool-text-dark-a50: #26262680;
	--retool-text-dark-a60: #26262699;
	--retool-text-dark-a70: #262626b3;
	--retool-text-dark-a80: #262626cc;
	--retool-text-dark-a90: #262626e6;
	--accent-foreground: #ffffff;
	--retool-text-light-a0: #ffffff00;
	--retool-text-light-a10: #ffffff1a;
	--retool-text-light-a20: #ffffff33;
	--retool-text-light-a30: #ffffff4d;
	--retool-text-light-a40: #ffffff66;
	--retool-text-light-a50: #ffffff80;
	--retool-text-light-a60: #ffffff99;
	--retool-text-light-a70: #ffffffb3;
	--retool-text-light-a80: #ffffffcc;
	--retool-text-light-a90: #ffffffe6;
	--retool-text-auto: #262626ff;
	--retool-text-auto-a0: #26262600;
	--retool-text-auto-a10: #2626261a;
	--retool-text-auto-a20: #26262633;
	--retool-text-auto-a30: #2626264d;
	--retool-text-auto-a40: #26262666;
	--retool-text-auto-a50: #26262680;
	--retool-text-auto-a60: #26262699;
	--retool-text-auto-a70: #262626b3;
	--retool-text-auto-a80: #262626cc;
	--retool-text-auto-a90: #262626e6;
	--primary-surface: #ffffff;
	--border-radius: 4px;
	--secondary-surface: #ffffff;
	--retool-surface-inset: #f1f1f1ff;
	--border-color: #d1d1d1ff;
	--primary-foreground: #6a6a6a;
	--primary-background: #ededed;
	--accent-background-light: #67aae4ff;
	--accent-background-lightest: #3c92dc66;
	--accent-background-dark: #1b5e97ff;
	--disabled-background: #ededed;
	--disabled-foreground: #979797;
	--highlight-background: #3c92dc24;
	--border-color-dark: #9e9e9eff;
	--secondary-text: #262626b3;
	--tertiary-text: #262626b3;
	--text-background: transparent;
	--success-primary: hsl(141, 20%, 46%);
	--success-primary-0: #f9fbfaff;
	--success-primary-20: #e0ebe4ff;
	--success-primary-30: #c8daceff;
	--error-primary: hsl(5, 56%, 55%);
	--error-primary-0: #fdf8f7ff;
	--error-primary-20: #f4dad7ff;
	--error-primary-30: #ebbcb7ff;
	--error-primary-40: #e29e98ff;
	--error-primary-50: #d98078ff;
	--error-primary-60: #d06258ff;
	--error-primary-70: #c74438ff;
	--error-primary-80: #a7392fff;
	--error-primary-90: #872e26ff;
	--info-primary-0: #f6fafdff;
	--info-primary-20: #d4e7f7ff;
	--info-primary-30: #b1d3f1ff;
	--warning-primary: hsl(36, 90%, 55%);
	--warning-primary-0: #fefbf5ff;
	--warning-primary-20: #fceacfff;
	--warning-primary-30: #fad9a8ff;
}