.page {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	// background-image: url("./assets/bg.svg");
	background-repeat: repeat;
}

.page-content {
	width: 100%;
	width: 100%;
	// border: 2px solid rgba(194, 194, 194, 0.2);
}