.task {
	height: 50px;
	background-color: rgb(175, 172, 172);
	margin-bottom: 16px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 2px 8px;
}

.task__name {
	font-size: 26px;
	flex: 1 0 auto;
}

.task__control {
	flex: 0 0 200px;
	display: flex;
	justify-content: flex-end;
}